body {
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 1.45rem;
    margin: 10px 0;
}

#homepage {
    text-decoration: none;
    color: white;
    position: absolute;
    left: 30px;
}

#homepage:hover {
    color: #04AA6D;
}

#item-5, #item-6, #item-7, #item-9 {
    position: relative;
    font-size: 20px;
    display: none;
}

/*Quarter Wave*/
#Z0-sol, #Z0d-sol, #Z1-sol, #ZL-sol, #d-sol, #l-sol {
    position: absolute;
}

#Z0-sol {
    top: 126px;
    left: 500px
}

#Z0d-sol {
    top: 126px;
    left: 850px
}

#Z1-sol {
    top: 126px;
    left: 668px
}

#d-sol {
    top: 34px;
    left: 875px
}

#l-sol {
    top: 34px;
    left: 704px
}

#ZL-sol {
    top: 126px;
    right: 330px
}

/*Double Shunt Stub*/
#Z01d-sol1, #Z01d-sol2, #Z02d-sol1, #Z02d-sol2, #ZLd-sol1, #ZLd-sol2, #dd-sol1, #dd-sol2, #l1d-sol1, #l1d-sol2, #l2d-sol1, #l2d-sol2 {
    position: absolute;
}

#Z01d-sol1, #Z01d-sol2 {
    top: 88px;
    left: 130px
}

#Z02d-sol1, #Z02d-sol2 {
    top: 88px;
    left: 280px
}

#dd-sol1, #dd-sol2 {
    top: 6px;
    left: 290px
}

#l1d-sol1, #l1d-sol2 {
    top: 230px;
    left: 383px
}

#l2d-sol1, #l2d-sol2 {
    top: 230px;
    left: 175px
}

#ZLd-sol1, #ZLd-sol2 {
    top: 88px;
    right: 66px
}

/*Lumped Elements*/
#Z0-sol1, #Z0-sol2, #Xg-sol1, #Xg-sol2, #Bg-sol1, #Bg-sol2, #Xl-sol1, #Xl-sol2, #Bl-sol2, #Bl-sol1, #ZL-sol1, #ZL-sol2 {
    position: absolute;
}

#Z0-sol1, #Z0-sol2 {
    top: 125px;
    left: 20px
}

#Xg-sol1, #Xg-sol2 {
    top: 20px;
    left: 240px
}

#Bg-sol1, #Bg-sol2 {
    top: 125px;
    left: 280px
}

#Xl-sol1, #Xl-sol2 {
    top: 20px;
    left: 320px
}

#Bl-sol1, #Bl-sol2 {
    top: 125px;
    left: 240px
}

#ZL-sol1, #ZL-sol2 {
    top: 125px;
    right: 50px
}

/*Single Shunt Stub*/
#Z01-sol1, #Z01-sol2, #Z02-sol1, #Z02-sol2, #Z03-sol1, #Z03-sol2, #ZLss-sol1, #ZLss-sol2, #d-sol1, #d-sol2, #l-sol2, #l-sol1 {
    position: absolute;
}

#Z01-sol1, #Z01-sol2 {
    top: 90px;
    left: 220px
}

#Z02-sol1, #Z02-sol2 {
    top: 90px;
    left: 420px
}

#Z03-sol1, #Z03-sol2 {
    top: 205px;
    left: 290px
}

#d-sol1, #d-sol2 {
    top: -22px;
    left: 370px
}

#l-sol1, #l-sol2 {
    top: 270px;
    left: 340px
}

#ZLss-sol1, #ZLss-sol2 {
    top: 95px;
    right: 66px
}

/*Single Series Stub*/
#Z01s-sol1, #Z01s-sol2, #Z02s-sol1, #Z02s-sol2, #Z03s-sol1, #Z03s-sol2, #ZLs-sol1, #ZLs-sol2, #ds-sol1, #ds-sol2, #ls-sol2, #ls-sol1 {
    position: absolute;
}

#Z01s-sol1, #Z01s-sol2 {
    top: 220px;
    left: 130px
}

#Z02s-sol1, #Z02s-sol2 {
    top: 90px;
    left: 200px
}

#Z03s-sol1, #Z03s-sol2 {
    top: 220px;
    left: 350px
}

#ls-sol1, #ls-sol2 {
    top: 70px;
    left: 285px
}

#ds-sol1, #ds-sol2 {
    top: 300px;
    left: 315px
}

#ZLs-sol1, #ZLs-sol2 {
    top: 220px;
    right: 56px
}

.homepage {
    margin: 0;
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "home-title home-title"
    "home-item1 home-item2";
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-items: center;
}

.theory {
    margin: 0;
    display: grid;
    grid-template-columns: 0fr 5fr;
    grid-template-rows: 1fr 5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "home-title home-title"
    "theory-item1 theory-item2";
    height: 100vh;
    /*justify-items: center;*/
}

.home-title {
    text-align: center;
    display: block;
    grid-area: home-title;
    width: 100%;
    height: 75%;
    font-family: var(--bs-body-font-family);
    font-size: 28px;
    color: white;
    font-weight: bold;
    padding-top: 40px;
    background-color: rgb(37, 50, 64);
    z-index: 10;
    position: relative;
}

.home-title img {
    position: absolute;
    left: 15px;
    top: 5px;
}

.home-item1 {
    grid-area: home-item1;
    font-size: 30px;
}

.theory-item1 {
    grid-area: theory-item1;
    font-size: 27px;
    position: fixed;
    bottom: 30%;
    left: 2px;
    z-index: 10;
}

.home-item1 a, .theory-item1 a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    border-bottom: 1px solid #adb5bd;
}

.home-item1 a:hover, .theory-item1 a:hover {
    background-color: #ccc;
}

.home-item1 a.active, .theory-item1 a.active {
    background-color: #04AA6D;
    color: white;
}

.home-item2 {
    grid-area: home-item2;
    border-left: 2px solid rgb(37, 50, 64);
}

.theory-item2, .theory-item3 {
    text-align: justify;
    font-size: 1.7rem;
    line-height: 2.5rem;
    grid-area: theory-item2;
    border-left: 2px solid rgb(37, 50, 64);
}

.theory-item2 h3, .theory-item3 h3 {
    color: #04AA6D;
}

.theory-item2 {
    display: grid;
    grid-template-rows: 0fr 0.5fr 1fr 1fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr 1fr 1.5fr 1.5fr;
    gap: 0px;
    height: 100%;
    position: relative;
}

label {
    font-weight: bold
}

img {
    display: block;
    margin: 0 auto
}

#item-0 img, #item-1 img {
    width: 80%;
}

#item-6 img, #item-7 img {
    width: 80%;
}

#item-9 img {
    width: 36%;
}

#item-0, #item-1 {
    padding: 30px 0;
}

#item-10 {
    align-self: center;
    justify-self: center;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 6;
    z-index: 10;
}

#item-9 {
    grid-row-start: 7;
    grid-column-start: 1;

    grid-row-end: 8;
    grid-column-end: 5;
    z-index: 10;
}

#item-0 {
    align-self: center;
    border-right: 1px solid grey;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 3;
    z-index: 10;

}

#item-1 {
    align-self: center;
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 5;
    z-index: 10;

}

#item-2 {
    align-self: center;
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 6;
    z-index: 10;
}

#item-3 {
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 6;
    grid-column-end: 4;
    position: relative;

}

#item-4 {
    padding: 10px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    grid-row-start: 3;
    grid-column-start: 4;

    grid-row-end: 6;
    grid-column-end: 6;
    z-index: 10;
    overflow-y: scroll;
}

#item-4 p {
    margin: 0
}

#item-4 > *:not(:first-child) {
    margin: 15px 0;
}

#item-5 {
    align-self: center;
    text-align: center;
    border: 1px solid grey;
    padding: 20px 0;

    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 6;

    font-family: var(--bs-body-font-family);
    font-size: 36px;
    color: white;
    font-weight: bold;
    background-color: rgb(37, 50, 64);
    z-index: 10;
}

#item-6 {
    align-self: center;
    grid-row-start: 7;
    grid-column-start: 1;

    grid-row-end: 8;
    grid-column-end: 4;
    z-index: 10;

}

#item-7 {
    align-self: center;
    border-left: 1px solid grey;
    grid-row-start: 7;
    grid-column-start: 4;

    grid-row-end: 8;
    grid-column-end: 6;
    z-index: 10;
}

#box {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.circle {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 91.5%;
    height: 102.5%;
    border: 1px solid white;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 0 2000px white;
}


#pp-phtk {
    padding: 10px;
}

.tsdv {
    display: grid;
    justify-items: center;
    text-align: center;
}


.smith {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
}

#box {
    justify-self: left;
}

#smith-input-parameters {
    min-width: 360px;
    line-height: 1.6;
    border: 1px solid grey;
    padding: 10px;
    justify-self: center;
}

#PHTK-RF {
    position: relative;
}

#PHTK-Source, #PHTK-Load, #next, #previous {
    position: absolute;
    top: -10px;
}

#PHTK-Source {
    right: 440px;
}

#PHTK-Load {
    right: 300px;
}

#next {
    right: 200px;
}

#previous {
    right: 600px;
}

.text-container {
    position: fixed;
    bottom: 10px;
    z-index: 1000;
    right: 2%;
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
    opacity: 0.33;
}

/*--------------------------------------------------------------------1366x768 SCREEN--------------------------------------------------------------------------*/
@media screen and (max-width: 1366px) {

}


/*--------------------------------------------------------------------1600x900 SCREEN--------------------------------------------------------------------------*/
@media screen and (max-width: 1600px) {
    .circle {
        top: 55.2%;
        left: 50%;
        width: 72.2%;
        height: 98.5%;
    }

    #next {
        left: 689px;
    }

    #previous {
        left: 444px;
    }

    .theory-item1 {
        font-size: 22px;
    }

    img {
        /*width: 86%*/
    }

    h2 {
        font-size: 1.7rem
    }

    h4 {
        font-size: 1.3rem
    }

    .text-container {
        right: 0;
        font-size: 15px;
    }

    .home-item1 {
        font-size: 25px;
    }

    /*---------------------------------------------Bắt đầu sửa từ đây-------------------------------------------------*/
    /*Quarter Wave*/
    #Z0-sol {
        top: 100px;
        left: 403px
    }

    #Z0d-sol {
        top: 100px;
        left: 705px
    }

    #Z1-sol {
        top: 100px;
        left: 543px
    }

    #d-sol {
        top: 22px;
        left: 713px
    }

    #l-sol {
        top: 22px;
        left: 580px
    }

    #ZL-sol {
        top: 100px;
        right: 246px
    }

    /*Double Shunt Stub*/
    #Z01d-sol1, #Z01d-sol2 {
        top: 64px;
        left: 96px
    }

    #Z02d-sol1, #Z02d-sol2 {
        top: 64px;
        left: 242px
    }

    #dd-sol1, #dd-sol2 {
        top: 0px;
        left: 232px
    }

    #l1d-sol1, #l1d-sol2 {
        top: 191px;
        left: 320px
    }

    #l2d-sol1, #l2d-sol2 {
        top: 188px;
        left: 130px
    }

    #ZLd-sol1, #ZLd-sol2 {
        top: 64px;
        right: 24px
    }

    /*Lumped Elements*/
    #Z0-sol1, #Z0-sol2 {
        top: 98px;
        left: 20px
    }

    #Xg-sol1, #Xg-sol2 {
        top: 20px;
        left: 190px
    }

    #Bg-sol1, #Bg-sol2 {
        top: 98px;
        left: 225px
    }

    #Xl-sol1, #Xl-sol2 {
        top: 15px;
        left: 255px
    }

    #Bl-sol1, #Bl-sol2 {
        top: 98px;
        left: 200px
    }

    #ZL-sol1, #ZL-sol2 {
        top: 100px;
        right: 30px
    }

    /*Single Shunt Stub*/
    #Z01-sol1, #Z01-sol2 {
        top: 70px;
        left: 100px
    }

    #Z02-sol1, #Z02-sol2 {
        top: 70px;
        left: 260px
    }

    #Z03-sol1, #Z03-sol2 {
        top: 165px;
        left: 150px
    }

    #d-sol1, #d-sol2 {
        top: 0px;
        left: 250px
    }

    #l-sol1, #l-sol2 {
        top: 212px;
        left: 180px
    }

    #ZLss-sol1, #ZLss-sol2 {
        top: 70px;
        right: 26px
    }

    /*Single Series Stub*/
    #Z01s-sol1, #Z01s-sol2 {
        top: 178px;
        left: 95px
    }

    #Z02s-sol1, #Z02s-sol2 {
        top: 40px;
        left: 157px
    }

    #Z03s-sol1, #Z03s-sol2 {
        top: 178px;
        left: 260px
    }

    #ls-sol1, #ls-sol2 {
        top: 48px;
        left: 232px
    }

    #ds-sol1, #ds-sol2 {
        top: 244px;
        left: 254px
    }

    #ZLs-sol1, #ZLs-sol2 {
        top: 178px;
        right: 31px
    }
}

/*---------------------------------------------Kết thúc sửa ở đây-------------------------------------------------*/


/*--------------------------------------------------------------------MOBILE VERSION--------------------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
    .smith {
        grid-template-columns: 1fr;
    }

    #smith-input-parameters {
        width: 100%;
        min-width: auto;
    }
}